:root {
    /* Colors */
    --primary-color: #05386b;
    --secondary-color: #379683;
    --accent-color: #5cdb95;
    --text-color: #333;
    --white: #ffffff;

    /* Fonts */
    --heading-font: "Roboto", sans-serif;
    --body-font: "Open Sans", sans-serif;

    /* Other Repeated Values */
    --border-radius: 8px;
    --padding-std: 1rem;
}

body {
    font-family: var(--body-font);
    color: var(--text-color);
    padding-bottom: 50px;
    -webkit-font-smoothing: antialiased;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.herodiv {
    border-radius: var(--border-radius);
    padding: var(--padding-std);
    box-sizing: border-box;
}

footer {
    background-color: var(--primary-color);
    color: var(--white);
    position: fixed;
    bottom: 0;
    width: 100%;
}